@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,900;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --main-bg: #000;
  --box-bg: #232323;
  --name-color: #f8f8f8;
  --card-bg-text: #ffffff;

  --green: #9bdc28;
  --blue: #1da3c3;
  --red: #eb0e2f;

  --transition: all 0.5s ease;
}

.dark:root {
  --main-bg: #f8f8f8;
  --box-bg: #ffffff;
  --name-color: #232323;
  --card-bg-text: #343434;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--main-bg);
}

.container {
  max-width: 1200px;
  padding: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  flex-wrap: wrap;
  position: relative;
}

.box {
  width: 300px;
  height: 400px;
  background: var(--box-bg);
  border-radius: 20px;
  transform-style: preserve-3d;
  position: relative;
}

.box::before {
  content: "NIKE";
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 6em;
  font-weight: 900;
  color: var(--card-bg-text);
  font-style: italic;
  opacity: 0;
  transition: var(--transition);
}

.box::after {
  content: "SHOES";
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 4.5em;
  font-weight: 900;
  color: var(--card-bg-text);
  font-style: italic;
  opacity: 0;
  transition: var(--transition);
}

.box:hover::after,
.box:hover::before {
  opacity: 0.05;
}

.name {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  color: var(--name-color);
  width: 100%;
  transform: translateZ(75px);
  transition: var(--transition);
  opacity: 0;
}

.box:hover .name {
  top: 40px;
  opacity: 1;
}

.buy {
  position: absolute;
  bottom: 0;
  left: 50%;
  color: var(--name-color);
  padding: 10px 25px;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  cursor: pointer;
  transition: var(--transition);
  opacity: 0;
  transform: translateZ(75px);
  background: var(--bgColor);
}

.box:hover .buy {
  bottom: 30px;
  opacity: 1;
}

.circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transition: var(--transition);
  opacity: 0.5;
  transform: translate3d(-50%, -50%, 0);
  background: var(--bgColor);
}

.box:hover .circle {
  transform: translate3d(-50%, -50%, 40px);
  opacity: 0.5;
}

.product {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 300px;
  transition: var(--transition);
  transform: translate3d(-50%, -50%, 0px);
  filter: drop-shadow(0 0 5px black);
}

.box:hover .product {
  transform: translate3d(-50%, -50%, 100px) rotate(-15deg);
  filter: drop-shadow(0 0 10px black);
}

/* MODE SWITCH */
.mode-switch {
  fill: white;
  stroke: white;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 0.5px;
  cursor: pointer;
}

.mode-switch.active {
  fill: #333;
  stroke: #333;
}
